/.php_cs.cache
/app/config/parameters.yml
/bin/*
!/bin/console
/phpunit.xml
/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/vendor/
/web/bundles/
.idea/
/app/auto-completer-sandbox.db.cache
/.bowerrc
web/assets/
cache/
logs/
!logs/.gitkeep
sessions/
!sessions/.gitkeep