{% extends 'base.html.twig' %}

{% block body %}
    <h1><span>Welcome to</span> PUGXAutocompleterBundle sadnbox</h1>
    <div class="jumbotron">
        <a class="btn btn-primary" href="{{ path('new_book') }}">Insert a new book</a>
    </div>
{% endblock %}
